*{
    margin : 0;
    font-family: arial;
  
  }  
  header{
      padding: 20px;
      border: 4px dashed #ff0000;
  }
      body{
      font-family: 'arial';
      background-color: #000000;
      color:rgb(23, 82, 211);
      margin:10px auto;
      text-align: center;
  }
  
  .menu{
  color:rgb(0, 0, 0);
  text-decoration: 0;
  font-size: 24px;
  margin: 5px;
  padding: 5px auto;
  }
  
  .menu:hover{
      text-decoration: underline;
  }
  
  .box{
      width:400px;
      height:250px;
      background-color: e#a3fff0;
      border-radius: 15px;
      margin:2%;
  }
  .nav{
      text-align: center;
      padding: 2% 0;
  }
  #a{
      background-color:rgb(245, 50, 50);
      margin:0;
      border-radius: 10px;
      display:flex;
      margin: 0px 10%;
      justify-content: space-around;
      min-height: 100 vh;
  }
  
  #b{
      background-color:rgb(226, 170, 170);
      margin:0;
  }
  #tituloPrincipal{
      color:rgb(0, 51, 133);
      font-size: 40px;
      font-family:'Times New Roman';
      text-align: center;
  }
  
  ul{
      font-size: 21px;
      color: rgb(248, 248, 248);
  }
  ol{
      font-size: 21px;
      color: rgb(255, 245, 245);
  
  }
  p{
      color: rgb(145, 203, 255);
      font-size: 16px;
      text-align:justify;
      padding: 10px;
      }
  #imagem {
      width: 500px;
      margin:10px auto;
  }
  
  .footer{
      background-color: #000000;
      color:azure;
     
  
  }
  